<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="\css\styles.css">
</head>
<body>
    <div style="text-align:center">
        <h1 class="h111"> To do List</h1>
        <h3>Add to list</h3>
        <form action="/" method="post">
            <textarea class="area" name="text" placeholder="List data" style= "text-align:left">
            </textarea>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form >
        
        <h1>The List</h1>
        
        <% items.forEach(function(item){ %>
            <form method="post" action="/delete">
            <div>
            <h2><li> <%=item.text%> </li></h2>
            <button type="submit" name="itemm" value="<%=item._id%>">Delete</button>
            <input name= 'newtext'> 
            <button type="submit" name="itemm1" formaction="/update" value="<%=item._id%>">Update</button>
            </div>
            </form>
        <% }); %>
            </div>
</body>
</html>




