body {
    font-family: 'helvetica neue';
    background-image: url("../imgs/17580.jpg");
   } 

.h111{
    font-size: 50px;
    color: goldenrod;
    font-family: serif;
    margin-bottom: 20px;
}

.column
{
    padding:0 100px;
}

textarea[type="text"] {
    text-align: left;
    height: 60px;
    top: 10px;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}